// import Branch from "../Branch/Branch.marko";
export type Input = {
  renderBody?: Marko.Body;
  class?: string;
  onClick?: (target: PointerEvent) => void;
};
div class=input.class onClick=input.onClick
  <${input.renderBody}/>
